.content {
  	display: flex;
  	flex-wrap: wrap;
    max-width: 100%;
}

@media screen and (max-width: 450px) {
  .header{
    order: 1;
  }
  .hr_line{
    margin-top: 5px;
  }
  .header_title {
    font-size: 1.5em;
    margin-right: 5px;
  }
  .header_logo {
    margin: 2px;
    height: 30px;
  }
  .title_info{
    font-size: 0.8em;
    margin-right: 5px;
  }
  .main_description {
    width: 100%;
    margin: 0;
    padding: 0 0 0 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
  .main_content {
    order: 2;
  }
  .featured_work{
    order: 3;
  }
  .feature{
    text-align:center;
  }

  #images {
    text-align:center;
  }

  img.img{
    max-width: 50%;
    display: inline;
  }

  .images{
    display: inline-block;
  }
  div.caption {
    font-size: 16px;
    padding: 10px 0 20px 0;
  }
  footer {
    order: 4;
    text-align:center;
    margin:20px auto; 
  }
}

@media screen and (min-width: 450px) and (max-width: 890px) {

  .header_data {
    max-width: 100%;
    overflow: hidden;
  }

  .header_logo {
    margin: 10px 0 0 10px;
    height: 72px;
    max-width: 72px;
  }
  .header_title {
    padding: 10px 10px 0 0;
  }
  .title_info {
    padding: 10px 10px 0 0;  
  }

  .feature{
    text-align:center;
  }

  #images {
    text-align:center;
  }

img.img{
    max-width: 100%;
    min-width: 50%;
  }

  div.caption {
    font-size: 16px;
    padding: 10px 0 20px 0;
  }

  footer{
    max-width: 100%;
  }

  footer li{
    max-width: 25%;
    display: inline-block;
  }
}

@media screen and (min-width: 891px) {
  main, .header, .content {
    width: 870px;
    margin-left: auto;
    margin-right: auto;
  }

  .header_title {
    font-size: 3em;
    margin: 0.5em 30px 0 30px;
  }

  .header_logo {
    margin-top: 12px;
    margin-left: 30px;
    height: 72px;
    width: 72px;
  }

  .title_info {
    margin: 0.25em 30px;
  }

  .main_description{
    padding-top: 1.5em;
    margin-left: 3em;
  }

  .feature{
    margin-left: 2.5em;
  }

  #images {
    text-align:center;
  }

  img.img{
    max-width: 100%;
    min-width: 40%;
  }
  #images a{
    max-width: 100%;
  }
  img {
    margin-bottom: 10px;
    text-decoration:none;
    color: black;
 }
  
  footer{
    max-width: 100%;
  }

  footer li{
    max-width: 25%;
    display: inline-block;
  }

}
